body, html{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat; 
  background-size: cover;  
  background-position: center; 
  background-attachment: fixed;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 1.5;
  background-repeat: no-repeat;
  


}


h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  line-height: 1.5;
  font-size: medium;


}

.imagem1 {
  width: 20%;
  display: block;
}
.quadrado1 {
border: 3px solid black;
width: 300px;
height: 300px;
background-repeat: no-repeat;
margin-left: 1px; 
margin-right: 1px;

  }

.quadrado2 {
  border: 3px solid black;
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  margin-left: 1px; 
  margin-right: 1px;
  
  }

.quadrado3 {
    border: 3px solid black;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    margin-left: 1px; 
    margin-right: 1px;
    
  }

.quadrado4 {
      border: 3px solid rgb(3, 3, 3);
      width: 300px;
      height: 300px;
      background-repeat: no-repeat;
      margin-left: 1px; 
      margin-right: 1px;
      
    }

.botaohd{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  

  
}

h2 {
  color: rgb(0, 0, 0);

}

p {
  color: rgb(0, 0, 0);
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
}

footer {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-size: "1";
}

hr {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  text-align: center;
}

.facebook {
  width: 3.0%;
  
}
.instagram {
  width: 3.0%;
  

}

.yt {
  width: 3.0%;
 
}

.fundoimg{

  height: 200px;
  top: 1900px; left: -10px; 
  width: 150%;
}


.nav1{

  font-family: Arial, Helvetica, sans-serif;



}

.lugarh3 {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 25px;


}

li {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  position:relative;
  margin-bottom:0.3em;
  color:#000000;
}

.imglugar1 {

  width: 650px;
 

}


.imglugar3 {

  width: 350px;


}

.topo1 {

  margin-left: 190px; 
  margin-right: 190px;

}

.lugarb1 {

  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;

}


.lugarb2 {

  list-style: none;
  display: flex;
  justify-content: start;
  gap: 5px;
  margin-left: -42px; 
  
}

.lugarb3 {

  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 20px; 


}

a{

  color: rgb(0, 0, 0);
}

.home{

  margin-left: 300px; 
  
}


